---
import InfoEntry from "./InfoEntry.astro";
---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-2">Bildung</h2>
  <hr class="mb-6 border-zinc-600" />

  <InfoEntry
    title="Computer Engineering (B.Eng.)"
    subtitle="Hochschule für Technik und Wirtschaft Berlin"
    date="2023"
    description="Schwerpunkte in Softwareentwicklung, Datenbanksystemen und künstlicher Intelligenz, sowie hardwarenahe Entwicklung, Projektmanagement und Rechnerarchitektur"
  />
</section>