---
import InfoEntry from "./InfoEntry.astro";
---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-2">Erfahrungen</h2>
  <hr class="mb-6 border-zinc-600" />

  <InfoEntry
    title="RPA & AI Developer"
    subtitle="Deefinity GmbH"
    date="Jan. 2025 - Apr. 2025"
    description="Entwicklung einer PWA mit OCR und Computer Vision zur automatisierten Zählerstanderkennung. Automatisierung von Geschäftsprozessen mit UI Path."
  />


  <InfoEntry
    title="Service Manager & Report Automation"
    subtitle="Bundesdruckerei GmbH"
    date="Okt. 2021 - Nov. 2024"
    description="Bei der Bundesdruckerei GmbH koordinierte ich IT-Services nach ITIL und das Nutzermanagement. Meine Projekte umfassten die Automatisierung von Reports mit VBA, die Entwicklung eines Support-Chatbots (Bachelorarbeit) und einer MS Access-Datenbanklösung."
  />
</section>