---
import Github from "@assets/icons/github.astro"
import Email from "@assets/icons/email.astro"
import ContainerHover from "@components/ContainerHover.astro"
---

<nav class="w-full flex justify-between items-center bg-zinc-800/50 backdrop-blur-lg p-4 rounded-lg">
  <div class="flex gap-x-6 text-lg">
    <a href="/" class="text-zinc-300 hover:text-white transition-colors">Home</a>
    <a href="/showcase" class="text-zinc-300 hover:text-white transition-colors">Showcase</a>
  </div>
  <div class="flex gap-3 items-center text-zinc-300">
    <ContainerHover link="mailto:konstantin.rossmann@gmail.com">
      <Email />
    </ContainerHover>
    <ContainerHover link="https://github.com/BildoBeucklin">
      <Github />
    </ContainerHover>
  </div>
</nav>
