---
import ProjectCard from '@components/ProjectCard.astro'
import OpenAI from '@assets/icons/OpenAI.astro';
import Python from '@assets/icons/Python.astro';
import AstroIcon from '@assets/icons/AstroIcon.astro';

---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-2">Proyectos</h2>
  <hr class="mb-6 border-zinc-600">

  <ProjectCard projectTitle="Gerichtsurteilung-Summary AI" projectDescription="Eine KI-Anwendung in Python, die große Gerichtsurteile, (10-60 Seiten) zusammenfassen kann" image="/images/GeSAI_screenshot.png">
    <OpenAI />
    <Python />
  </ProjectCard>

  <ProjectCard projectTitle="Websites" projectDescription="Schnelle simple Websites mit Astro" projectLink="/" image="/images/react.webp">
    <AstroIcon />
  </ProjectCard>
</section>
